body{
background-color: black;
padding: 0;
margin: 0;

}
.card{
    position: absolute;
    top:10%;
    left: 30%;
   height: 30rem;
   width: 20rem;
   background-color: crimson;
   padding: 0;
   border-radius: 10px;



}

.card:nth-child(1)
{
    position: absolute;
    top:10%;
    left: 5%;
   height: 30rem;
   width: 20rem;
   background-color: crimson;
   padding: 0;
   border-radius: 10px;
   align-items: flex-end;

}
.card:nth-child(3)
{
    position: absolute;
    top:10%;
    left: 55%;
   height: 30rem;
   width: 20rem;
   background-color: crimson;
   padding: 0;
   border-radius: 10px;
   
   
   align-items: flex-end;

}
.img,img {
    width: 100%;
    height: 100%;
    position: absolute;
    display:flex;
    transition: 0.4s;
    border-radius: 10px;

}
h1{
    color: white;  
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

h3{
    display: inline-flex;
    position: absolute;
    top: 85%;
    left: 20%;
    color: white;  
    visibility: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*background: rgb(255,255,255);
background: linear-gradient(-45deg, rgba(255,255,255,1) 50%, rgba(220, 20, 60) 50%);*/

span{
 transform: rotate(45deg);
    padding: 10px;

    position: absolute;
    display: inline-flex;
    top: 81%;
    left: 3%;
    visibility: hidden;
   
}

.card:hover  span {
    visibility: visible;
    transition: 0.8s;
   rotate: 90deg;
        background: white;
        background: linear-gradient(-45deg, rgba(255,255,255,1,0) 50%, rgba(220, 20, 60,1) 50%);
   
}
.card:hover  h3 {
    transition: 0.8s;
    visibility: visible;
}
.card:hover img{
    height: 83%;
    transition: 0.4s;
    border-bottom: 1px solid white ;
}